@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip-target {
  position: relative;
  /* display: inline-block; */
}

/* Tooltip text */
.tooltip-target .tooltiptext {
  visibility: hidden;
  width: fit-content;
  padding: 5px;
  background-color: black;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  top: -80%;
  z-index: 1;
}

.tooltip-target:hover .tooltiptext {
  visibility: visible;
}

.btn-primary {
  @apply bg-sky-600 hover:bg-sky-800 disabled:bg-gray-300 text-white py-2 px-4;
}

.btn-secondary {
  @apply bg-[#9A8564] hover:bg-[#715528] disabled:bg-gray-300 text-white py-2 px-4;
}
